#gameBlock
{
  /* background-color: red; */
  max-width: 840px;
  min-height: 100px;
  margin: auto;
  margin-top: 20px;
}

#gameTitle
{
  font-size: 46px;

  margin: 0;
}

#gameBoxart
{
  outline-style: solid;
  outline-width: 2px;
  outline-color: white;
  outline-offset: -2px;

  position: absolute;
  margin-top: 14px;
  height: 440px;
  /* width: 660px; */
  aspect-ratio: 600 / 900;
  /* aspect-ratio: 600 / 900; */
}

#monetizationCardContainer
{
  /* background-color: blue; */
  position: absolute;
  margin: 0;
  margin-top:14px;
  margin-left: 300px;
  width: 534px;
  min-height: 40px;
}

.monetizationCard
{
  background-color: #1f2c40;
  font-size: 20px;

  float: left;
  height: 28px;
  width: 235px;
  margin-left: 8px;
  margin-bottom: 8px;
  padding: 10px;
}

.checkmark
{
  float: right;
  width: 30px;
  height: 30px;
  color: #c7c7c7;
}

.checkmarkActive
{
  color: #ff9900;
}