#gameBlock
{
  /* background-color: red; */
  max-width: 840px;
  min-height: 100px;
  margin: auto;
  margin-top: 20px;
}

#gameTitle
{
  font-size: 46px;

  margin: 0;
}

#gameBoxart
{
  outline-style: solid;
  outline-width: 2px;
  outline-color: white;
  outline-offset: -2px;

  position: absolute;
  margin-top: 14px;
  height: 480px;
  /* width: 660px; */
  aspect-ratio: 600 / 900;
  /* aspect-ratio: 600 / 900; */
}

#monetizationCardContainer
{
  /* background-color: blue; */
  position: absolute;
  margin: 0;
  margin-top:14px;
  margin-left: 340px;
  width: 500px;
  min-height: 40px;
  font-size: 18px;
  
  display: grid;
  grid-template-columns: 50% 50%;
}

.monetizationCard
{
  background-color: #1f2c40;

  min-height: 28px;
  line-height: 32px;
  /* width: 235px; */
  /* margin-left: 8px; */
  /* margin-bottom: 8px; */
  margin: 4px;
  padding: 10px;
  /* height: 60px; */
  height: 32px;
}

.cardText
{
  float: left;
  width: 80%;
  
  position: absolute;
  line-height: 0px;
  margin-top: 7px;
  margin-left: 0px;
}

.cardTextCentered
{
  margin-top: 17px;
}

.tags
{
  /* margin-top: 4px; */
  position: absolute;
  margin-top: 19px;
  margin-left: -5px;
}

.tag
{
  background-color: #2a3b53;
  height: 10px;
  /* width: auto; */
  float: left;
  padding: 4px;
  border-radius: 4px;
  margin-right: 4px;

  padding: 4px 6px;

  /* position: absolute;
  margin-top: 12px;
  margin-right: 4px; */
}

.tagText
{
  float: left;
  font-size: 12px;
  line-height: 9px;
}

.tagIcon
{
  width: 10px;
  float: left;
  margin-top: 0px;
  margin-right: 4px;
}

.checkmark
{
  float: right;
  width: 30px;
  height: 30px;
  color: #c7c7c7;
  margin-top: 1px;
  margin-right: -4px;
}

.checkmarkActive
{
  color: #ff9900;
}