#reviewList
{
  /* background-color: red; */
  max-width: 840px;
  min-height: 100px;
  margin: auto;
}

.reviewCard
{
  background-color: #1f2c40;
  width: 400px;
  height: 220px;
  margin-left: 13px;
  margin-top: 13px;
  float: left;
  border-radius: 5px;
}

.reviewCard:hover
{
  cursor: pointer;
}

.reviewThumbnail
{
  position: absolute;
  height: 220px;
  aspect-ratio: 600 / 900;
}

.reviewTitle
{
  position: absolute;
  margin-left: 165px;
  width: 220px;
  word-wrap: normal;

  font-size: 20px;
}

.reviewRating
{
  position: absolute;
  margin-left: 165px;
  margin-top: 175px;
  
  font-size: 16px;
  color: #FF9900;
}

#reviewListLoading
{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 24px;
}

.reviewCardPlaceholder
{
  background-color: #1f2c40;
  width: 400px;
  height: 220px;
  margin-left: 13px;
  margin-top: 13px;
  float: left;
  border-radius: 5px;
}

.reviewThumbnailPlaceholder
{
  background-color: #1a2536;

  position: absolute;
  height: 210px;
  aspect-ratio: 600 / 900;
  margin: 5px;
}

.reviewTitlePlaceholder
{
  background-color: #1a2536;

  position: absolute;
  margin-top: 20px;
  margin-left: 165px;
  width: 215px;
  height: 25px;
  word-wrap: normal;

  border-radius: 100px;

  font-size: 20px;
}

.reviewRatingPlaceholder
{
  background-color: #1a2536;
  color: #FF9900;

  position: absolute;
  margin-left: 165px;
  margin-top: 175px;
  
  border-radius: 100px;
  
  width: 60px;
  height: 20px;
  font-size: 16px;
}

#paginationBar
{
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: red; */
  height: 20px;
  
  clear: both;
  margin: auto;
  margin-top: 15px;
  padding-top: 15px;
}

.paginationPrev
{
  /* background-color: green; */

  float:left;
  text-align: center;
  
  width: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 6px;
}

#paginationPages
{
  /* background-color: blue; */

  float:left;
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
}

.paginationNext
{
  /* background-color: green; */

  float:left;
  text-align: center;
  
  width: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 6px;
}

.paginationPage
{
  float:left;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
  margin-right: 3px;

  min-width: 18px;
}

.paginationButton
{
  background-color: #1f2c40;
  border-radius: 4px;
  height: 22px;
  line-height: 22px;
}

.paginationButton:hover
{
  background-color: #2a3b53;
  /* color: #FF9900; */
  cursor: pointer;
}

.paginationCurrent
{
  color: #FF9900;
  /* font-weight: bold; */
}

#searchBar
{
  /* background-color: grey; */

  float:right;  
  margin-left: 30px;
  height: 80px;
  display: flex;
  align-items: center;
}

#searchInput
{
  background-color: #3f536e;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  
  width: 220px;
  height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  
  border-radius: 5px 0px 0px 5px;
  border-color: #00000000;
}

#searchInput::placeholder {
  /* color: white; */
  color: #9eaabb;
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
}

.searchButton
{
  background-color: #2a3b53;
  cursor: pointer;

  height: 28px;
  margin-left: 0px;
  margin-right: 20px;
  padding-left: 8px;
  padding-right: 8px;
  
  border-radius: 0px 5px 5px 0px;
}