html
{
  color: white;
  font-family: 'Quicksand', sans-serif;
}

body
{
  background-color: #1a2536;
  margin: 0px;
  padding: 0px;
  min-width: 840px;
}

#header
{
  background-color: #1f2c40;
  height: 80px;
  width: auto;
  padding-left: 100px;
  padding-right: 20px;
  font-size: 35px;
  line-height: 76px;
}

.headerButton
{
  float:right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  height: 40px;
}

a
{
    font-style: normal;
    text-decoration: none;
    color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}