#reviewList
{
  /* background-color: red; */
  max-width: 840px;
  min-height: 100px;
  margin: auto;
}

.reviewCard
{
  background-color: #1f2c40;
  width: 400px;
  height: 220px;
  margin-left: 13px;
  margin-top: 13px;
  float: left;
  border-radius: 5px;
}

.reviewCard:hover
{
  cursor: pointer;
}

.reviewThumbnail
{
  position: absolute;
  height: 220px;
  aspect-ratio: 600 / 900;
}

.reviewTitle
{
  position: absolute;
  margin-left: 165px;
  width: 220px;
  word-wrap: normal;

  font-size: 20px;
}

.reviewRating
{
  position: absolute;
  margin-left: 165px;
  margin-top: 175px;
  
  font-size: 16px;
  color: #FF9900;
}

.reviewSaleType
{
  position: absolute;
  margin-left: 165px;
  margin-top: 155px;
  
  font-size: 16px;
  color: #d3d3d3;
}

#reviewListLoading
{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 24px;
}

.reviewCardPlaceholder
{
  background-color: #1f2c40;
  width: 400px;
  height: 220px;
  margin-left: 13px;
  margin-top: 13px;
  float: left;
  border-radius: 5px;
}

.reviewThumbnailPlaceholder
{
  background-color: #1a2536;

  position: absolute;
  height: 210px;
  aspect-ratio: 600 / 900;
  margin: 5px;
}

.reviewTitlePlaceholder
{
  background-color: #1a2536;

  position: absolute;
  margin-top: 20px;
  margin-left: 165px;
  width: 215px;
  height: 25px;
  word-wrap: normal;

  border-radius: 100px;

  font-size: 20px;
}

.reviewRatingPlaceholder
{
  background-color: #1a2536;
  color: #FF9900;

  position: absolute;
  margin-left: 165px;
  margin-top: 175px;
  
  border-radius: 100px;
  
  width: 60px;
  height: 20px;
  font-size: 16px;
}

.reviewRatingPlaceholder2
{
  background-color: #1a2536;
  color: #FF9900;

  position: absolute;
  margin-left: 165px;
  margin-top: 150px;
  
  border-radius: 100px;
  
  width: 100px;
  height: 20px;
  font-size: 16px;
}

#paginationBar
{
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: red; */
  height: 20px;
  
  clear: both;
  margin: auto;
  margin-top: 15px;
  padding-top: 15px;
}

.paginationPrev
{
  /* background-color: green; */

  float:left;
  text-align: center;
  
  width: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 6px;
}

#paginationPages
{
  /* background-color: blue; */

  float:left;
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
}

.paginationNext
{
  /* background-color: green; */

  float:left;
  text-align: center;
  
  width: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 6px;
}

.paginationPage
{
  float:left;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
  margin-right: 3px;

  min-width: 18px;
}

.paginationButton
{
  background-color: #1f2c40;
  border-radius: 4px;
  height: 22px;
  line-height: 22px;
}

.paginationButton:hover
{
  background-color: #2a3b53;
  /* color: #FF9900; */
  cursor: pointer;
}

.paginationCurrent
{
  color: #FF9900;
  /* font-weight: bold; */
}

#sortByBar
{
  /* background-color: #2a3b53; */

  max-width: 840px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 0px;
  
  height: 30px;
}

#sortByContainer
{
  background-color: #1f2c40;
  width: 180px;
  padding-left: 10px;
  margin-left: 13px;
  border-radius: 5px;

  height: 35px;
  line-height: 35px;
}

#sortByDropdown
{
  font-family: 'Quicksand', sans-serif;
  background-color: #3f536e;
  /* color: #9eaabb; */
  color: white;
  border: 0;

  margin-top: -4px;
  margin-left: 2px;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
  height: 24px;
  vertical-align: middle;
}

.sortByOption
{
  border: 0;
}

/* .sortByOption
{
  background-color: red;
}

.sortByOption:checked
{
  background-color: blue;
}

.sortByOption:hover {
  background: yellow;
}

.sortByOption:focus {
  background-color: purple;
}

.sortByOption:active {
  background-color: green;
}

select.sortByDropdown option:hover {
  box-shadow: 0 0 10px 100px #1882A8 inset;
} */